body, html, .container {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.stitching {
  -webkit-animation: rotation 3s infinite alternate;
  width: 200px;
  height: 200px;
}

#record-me {
  height: 100%;
  left: -25%;
  display: block;
  position: relative;
}

#output-canvas {
  display: none;
  height: 200px;
  width: 200px;
}

.video-camera {
  height: 100%;
  width: 50%;
  float: left;
  overflow: hidden;
}

.camera-roll {
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: black;
  float: left;
  vertical-align: top;

  div {
    display: inline-block;
    width: 25%;
    img {
      width: 100%
    }

  }
}

.countdown-time-container {
  width: 100%;
  position: absolute;
  text-align:center;
  color:#FFF;
  font-size:500px;
  font-weight:bold;
  z-index: 999;
  top: 20%;
  font-family: helvetica, arial, sans-serif;
  >p {
    -webkit-animation: tick 1s infinite ease;
    display: inline;
  }
}

button#create-gif {
  width: 250px;
  height: 75px;
  cursor: pointer;
  position: absolute;
  display: block;
  margin: auto;
  z-index: 999;
  border-radius: 5px;
  margin-top: -10%;
  left: 50%;
}