<div class="container">
  <div class="countdown-time-container">
    <p ng-bind="countdownTime"></p>
    <div ng-show="stitching">
      <img class="stitching" ng-src="../images/spinner.svg" />
    </div>
  </div>
  <video id="record-me"></video>
  <canvas id="output-canvas"></canvas>
  <div id="create-gif" ng-click="startRecording($event)">
    <img ng-class="{hideCamera: recording}" ng-src="../images/omr-camerabutton-purple.svg" />
  </div>
  <div ng-class="{recordingNow: recording && countdownTime == null}" class="recording-icon-container">
    <img ng-src="../images/omr-record-bright.svg" />
    <span ng-bind="timeRemaining"></span>
  </div>
</div>